
body {
  margin: 0;
  padding: 0;
}

.container {
    background: url(https://stmed.net/sites/default/files/galaxy-wallpapers-30826-5219663.jpg)  ;
    overflow: hidden;
    height: 100vh;
    background-size: 2500px;
}

.hplanets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.hplanetOne {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.hplanetTwo {
    width: 260px;
    height: 260px;
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 55px;
}

.chosen{
    display: flex;
    justify-content: center;
    width: 100%;
}
.chosenOne {
    width: 100px;
    height: 100px;
    bottom:30px;
    position:absolute;
}

.chosenTwo {
    width: 160px;
    height: 160px;
    bottom:0px;
    position:absolute;
}

.cplanetOne {
    width:150px;
}

.cplanetTwo {
    width: 300px;
    position: relative;
}

.cplanetThree {
    width: 40px;
}

